.dolphin-container {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99;
  user-select: none;
  pointer-events: none;
}

.dolphin {
  position: relative;
  width: 300px;
  height: 300px;
  left:150px;
  top: -50px;
}