.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.main {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

.effects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background: #03d689b0;
  z-index: 999;
}

.effects-section > * {
  margin: 0 2em;
}

@media screen and (max-width: 1024px) {
  .effects-section {
    justify-content: space-around;
  }

  .effects-section > .effect-toggle > button {
    padding: 0.5em;
  }
}

@media screen and (max-width: 480px) {
  .effects-section {
    display: none;
  }
}
