.effect-toggle {
  min-width: 147px;
}

.effect-toggle > button {
  flex-grow: 1;
 border: none;
 margin: 0 1em;
 padding: 1em;
 border-radius: 2px;
 border: 1px solid transparent;
 transition: border 100ms ease-in-out
}

.effect-toggle > button:hover {
  border: 1px solid rgba(0, 0, 0, 0.363);
}

.selected {
  background: rgb(241, 212, 164);
}

@media screen and (max-width: 1024px) {

  .effect-toggle>button {
    margin: .2em;
  }
}
