.keyboard {
  width: 100%;
  min-width: 1045px;
  height: 15em;
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 40%;
  z-index: 9998;
  padding: 0 5em;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .keyboard {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .keyboard {
    top: 19%;
    width: 100%;
    min-width: auto;
    padding: 1em
  }
}
