.key {
  background-color: rgba(255, 255, 255, 0.849);
  height: 20rem;
  flex-grow: 1;
  min-width: 5em;
  margin: 0 .1em;
  border-radius: 5px;
  box-shadow: 0px 8px 4px 1px rgba(0, 0, 0, 0.445);
}

.note-display {
  text-align: center;
  position: relative;
  color: black;
  font-weight: 600;
  font-size: 36px;
  margin-top: 240px;
  pointer-events: none;
}

.sharp > .note-display {
  bottom: 66px;
  color: white;
  font-size: 1em;
}

.sharp {
  position: relative;
  background-color: #323A9E;
  height: 15em;
  flex-grow: .5;
  margin: 0 -17px;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .sharp {
    flex-grow: .9;
    margin: 0
  }
  .key {
    min-width: auto;
    height: 13em;
  }

  .note-display {
    font-size: 10px;
    margin-top: 150px;  
  }
}
