.key {
  background-color: rgba(255, 255, 255, 0.671);
  height: 20rem;
  flex-grow: 1;
  min-width: 5em;
  margin: 0 .1em;
  border-radius: 5px;
  /* position: absolute; */
}

.note-display {
  text-align: center;
  position: relative;
  color: black;
  font-weight: 600;
  font-size: 36px;
  margin-top: 240px;
  pointer-events: none;
}

.sharp > .note-display {
  bottom: 66px;
  color: white;
  font-size: 1em;
}

.sharp {
  position: relative;
  background-color: #323A9E;
  height: 15em;
  flex-grow: .5;
  margin: 0 -17px;
  z-index: 2;
}

.active {
  /* background: linear-gradient(
    0deg,
    #ff0000,
    #ffac00,
    #fff100,
    #00bff0,
    #00f6ff
  );
  background-size: 1000% 1000%;
  background-position: top;
  animation: rainbow 0.5s cubic-bezier(0.62, 0.6, 0.55, 0.51) infinite;
}

 @keyframes rainbow {
  0% {
    background-position: 88% 0%;
  }
  100% {
    background-position: 13% 100%;
  }
} */
}

@media screen and (max-width: 1024px) {
  .sharp {
    flex-grow: .9;
    margin: 0
  }
  .key {
    min-width: auto;
    height: 13em;
  }

  .note-display {
    font-size: 10px;
    margin-top: 150px;  
  }
}
