.key {
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 60px;
    border: 2px solid black;
}

.note-display {
    text-align: center;
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 36px;
    margin-top: 240px;
    pointer-events: none;
}

.sharp > .note-display {
    bottom: 66px;
    color: white;
    font-size: 20px;
  }

.sharp {
    position: relative;
    background-color: black;
    margin-left: -17px;
    margin-right: -17px;
    height: 200px;
    width: 30px;
    z-index: 2;
}